@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto';
    background-color: rgb(253, 253, 253);
    color: rgb(62, 62, 62);
}

.contenedor {
    margin: 0 5%;
}

i {
    color: rgb(62, 62, 62);
}

/* Header */



/* Nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav i {
    font-size: 25px;
}

.nav .bi-list {
    font-size: 35px;
}

.nav-derecha i {
    margin-right: 10px;
}

.nav-derecha .bi-moon {
    margin-right: 0;
}
/*Balance*/
.balance {
    background-color: #f6f8ff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 26px;
}

.balance-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.balance p {
    color: #76787B;
    margin-bottom: 10px;
    font-size: 20px;
}

.balance-usuario i {
    font-size: 28px;
    background-color: #000;
    color: #fff;
    padding: 5px 8px;
    border-radius: 50%;
}

.balance label {
    font-size: 20px;
    display: block;
}

.balance input {
    width: 90%;
    height: 50px;
    border-radius: 10px;
}

.balance p {
    /* font-size: 40px; */
}

.balance h1 {
    font-size: 60px;
}

.botones {
    margin-top: 25px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 10px 0;
}

.iconos {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono p {
    margin: 3px 0 0 0;
}

.icono i {
    font-size: 30px;
}

.tab-1 {
    width: 40%;
    border-bottom: 2px solid rgb(62, 62, 62);
    padding-bottom: 20px;
    text-align: center;
}

.tab-2 {
    width: 40%;
    color: #76787B;
    text-align: center;
    
}

/* Botones 2 */
.botones-2 {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

   .btn {
    padding: 15px 40px;
    font-size: 20px;
    background-color: #f6f8ff;
    border: none;
    border-radius: 20px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
   } 

   .btn i {
    margin-right: 10px;
    font-size: 20px;
   }

/*Ingreso*/
.tarjeta {
    text-align: center;
    border-radius: 10px;
    padding: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tarjeta label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
}

.tarjeta input {
    width: 90%;
    height: 30px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    padding-left: 30px;
    height: 42px;
    font-size: 20px;
}

.tarjeta input:focus {
outline: none;
}

.ingreso {
    height: 150px;
}

.gastos {
    margin: 20px  10px 0;

}

.gastos label {
    font-size: 17px;
    margin-bottom: 5px;
}

.gastos input {
    height: 30px;
}

.lista-gastos h1 {
    font-size: 18px;
    text-align: left;
}

.gastos-principal {
    display: flex;
    justify-content: space-between;
}

.gastos i {
    font-size: 30px;
}

.gasto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0;
    
}

.gasto i {
    font-size: 18px;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 20px 0;
    width: 100%;
}

.bi-file-spreadsheet {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
}