@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto';
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

.nav i {
    font-size: 25px;
}

.nav .bi-list {
    font-size: 35px;
}

.nav-derecha i {
    margin-right: 15px;
}
.nav-derecha i:last-child {
    margin-right: 0px;
}