@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto';
}

i {
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

.nav i {
    font-size: 25px;
}

.nav .bi-list {
    font-size: 35px;
}

.nav-derecha i {
    margin-right: 15px;
}
.nav-derecha i:last-child {
    margin-right: 0px;
}

/*Balance*/
.balance {
    margin: 4%;
    text-align: center;
    background-color: rgba(222, 228, 248, 5);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 5%;
}

.balance-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balance-usuario p {
    font-size: 20px;
}

.balance-usuario i {
    font-size: 22px;
    background-color: rgb(163, 166, 204);
    color: #fff;
    padding: 4px 9px;
    border-radius: 50%;
}

.balance label {
    font-size: 20px;
    display: block;
}

.balance input {
    width: 90%;
    height: 50px;
    border-radius: 10px;
}

.balance p {
    /* font-size: 40px; */
}

.balance h1 {
    font-size: 40px;
}

/*Ingreso*/
.ingreso {
    margin: 4%;
    text-align: center;
    border-radius: 10px;
    padding: 5%;
    
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.ingreso label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
}

.ingreso input {
    width: 90%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 30px;
    height: 42px;
    font-size: 20px;
}

.ingreso input:focus {
outline: none;
}